{% extends 'base.html' %}
{% block title %}
    项目管理
{% endblock %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2><i class="fa fa-paypal"></i>&nbsp;工程管理</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-5 m-b-xs">
                                <a data-toggle="modal" class="btn btn-primary" href="#add-project-form">
                                    <i class="fa fa-plus"></i>&nbsp;添加</a>
                            </div>
                            <div class="col-sm-4 m-b-xs">
                                <!--放置按钮-->
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary">
                                            Go!
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>项目名称</th>
                                    <th>项目地点</th>
                                    <th>开始时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody class="project-info-form">
                                </tbody>

                                {% raw %}
                                <script id="project-info-temp" type="text/html">
                                    {{ if projects }}
                                    {{ each projects as project }}
                                    <tr>
                                        <td>
                                        </td>
                                        <td>{{ project.name }}</td>
                                        <td>{{ project.address }}</td>
                                        <td>{{ project.start_time }}</td>
                                        <td>
                                            <button pid="{{ project.id }}"
                                                    class="btn btn-outline btn-success btn-xs edit-project"
                                                    data-toggle="modal" href="#edit-project-info">编辑
                                            </button>
                                            <button type="button" pid="{{ project.id }}"
                                                    class="btn btn-outline btn-danger btn-xs del-project">删除
                                            </button>
                                        </td>
                                    </tr>
                                    {{ /each }}
                                    {{ else }}
                                    <h2>暂无工程信息</h2>
                                    {{ /if }}
                                </script>
                                {% endraw %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#添加工程弹框#}
    <div id="add-project-form" class="modal fade modal-status" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <div class="col-sm-12"><h3 class="m-t-none m-b">添加项目信息</h3>
                            <form role="form" method="post" action="/admin/add_project">
                                <div class="form-group"><label>项目名称</label>
                                    <input type="text" name="name"
                                           placeholder="请输入项目名称"
                                           class="form-control">
                                </div>
                                <div class="form-group"><label>项目地址</label>
                                    <input type="text" name="address"
                                           placeholder="请输入项目地址"
                                           class="form-control">
                                </div>
                                <div class="form-group"><label>工程开始时间</label>
                                    <input type="text" class="form-control" name="start_time"
                                           id="start_time"/>
                                </div>

                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                        <strong>添加</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#编辑工程页面#}
    <div id="edit-project-info" class="modal fade modal-status" aria-hidden="true">


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <div class="col-sm-12"><h3 class="m-t-none m-b">修改工程信息</h3>

                        </div>
                        <div class="col-sm-12" id="info">

                        </div>
                        {% raw %}
                        <script id="edit-info" type="text/html">
                            <form role="form">
                                <div class="form-group"><label>项目ID</label>
                                    <input type="text" name="id"
                                           value="{{ project.id }}"
                                           class="form-control" readonly>
                                </div>
                                <div class="form-group"><label>项目名称</label>
                                    <input type="text" name="name"
                                           value="{{ project.name }}"
                                           class="form-control">
                                </div>
                                <div class="form-group"><label>项目地址</label>
                                    <input type="text" name="address"
                                           value="{{ project.address }}"
                                           class="form-control">
                                </div>
                                <div class="form-group"><label>工程开始时间</label>
                                    <input type="text" class="form-control" name="start_time"
                                           id="start_time" checked/>
                                </div>

                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                        <strong>保存</strong>
                                    </button>
                                </div>
                            </form>
                        </script>
                        {% endraw %}

                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block extjs %}
    {{ super() }}
    <script src="static/laydate/laydate.js"></script>
    <script src="static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="static/js/template.js"></script>
    <script>
        $(function () {
            // 时间控件
            laydate.render({
                elem: '#start_time' //指定元素
            });
            // 编辑工程信息


            $.get('/admin/project/', function (msg) {
                if (msg.code == 200) {
                    var project_html = template('project-info-temp', {
                        projects: msg.projects,
                    });
                    $('.project-info-form').html(project_html);

                }
            });

            $('.project-info-form').on('click', '.edit-project', function (evt) {
                evt.preventDefault();
                project_id = $(evt.target).attr('pid');

                $.get('/admin/project_info/' + project_id, function (msg) {
                    if (msg.code == 200) {
                        var project_html = template('edit-info', {
                            project: msg.project,
                        });
                        $('#info').html(project_html);
                    }
                });

            });


        });

    </script>

{% endblock %}